<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.score.mapper.GradesMapper">

    <resultMap id="BaseResultMap" type="com.example.score.model.domain.Grades">
            <id property="gradeID" column="GradeID" jdbcType="INTEGER"/>
            <result property="studentID" column="StudentID" jdbcType="INTEGER"/>
            <result property="courseID" column="CourseID" jdbcType="INTEGER"/>
            <result property="grade" column="Grade" jdbcType="VARCHAR"/>
            <result property="semester" column="Semester" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        GradeID,StudentID,CourseID,
        Grade,Semester,createTime,
        updateTime,isDelete
    </sql>
</mapper>
