<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.score.mapper.StudentsMapper">

    <resultMap id="BaseResultMap" type="com.example.score.model.domain.Students">
            <id property="studentID" column="StudentID" jdbcType="INTEGER"/>
            <result property="name" column="Name" jdbcType="VARCHAR"/>
            <result property="gender" column="Gender" jdbcType="INTEGER"/>
            <result property="className" column="ClassName" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="PhoneNumber" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        StudentID,Name,
        Gender,ClassName,PhoneNumber,
        createTime,updateTime,isDelete
    </sql>
</mapper>
